<p>Hello {{name}},</p>
<p>You have a new document that requires your signature:</p>
    <ul> 
        <li>
            <strong>Document Name:</strong> 
            {{document}}
        </li> 
        <li>
            <strong>Requested By:</strong> 
            {{requestedBy}}
        </li> 
    </ul> 
<p>Please 
    <a href="{{link}}">click here</a> 
    to review and sign the document.
</p> 
<p>
    Thank you,
    <br/>E-Sign System
</p> 
