<p>Hello {{name}},</p> 
<p>The document 
    <strong>
        {{document}}
    </strong> 
has been successfully signed.</p>
<p>You can <a href="{{link}}">view the document here</a>.</p> 
<p>Thanks for using E-Sign!</p> 